header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: ease all 0.5s;
}
header.black {
    background-color: #111;
}
.header--logo {
    display: flex;
    align-items: center;
    
}
ul {
    display: flex;
    padding-right: 30px;
    
}
li {
    padding-right: 30px;
    list-style-type: none;
    cursor: pointer;
}
.nav-esquerda {
    margin-top: 15px;
}

.nav-esquerda img {
    width: 80px;
}
